{% extends "layout.html" %} {% block body %}
<div class="w3-row  w3-margin">
    <div class="w3-col s4 w3-center w3-padding">
        <div class="w3-container w3-indigo w3-round-large">
            <h2>Incremental Search</h2>
        </div>
        <div class="w3-container w3-white w3-padding-16 w3-round-large">
            <form method="POST" action="/busqincr" class="w3-margin">
                <div class="w3-row-padding" style="margin: 0 -16px">
                    <div class="w3-half w3-margin-bottom">
                        <label>Ecuation</label>
                        <input
                        class="w3-input w3-border"
                        type="text"
                        name="ecuacion"
                        id="ecuacion"
                        required
                        />
                    </div>
                    <div class="w3-half">
                        <label> Delta X </label>
                        <input
                        class="w3-input w3-border"
                        type="number"
                        step="any"
                        name="deltaX"
                        id="deltaX"
                        required
                        />
                    </div>
                </div>
                <div class="w3-row-padding" style="margin: 8px -16px">
                    <div class="w3-half w3-margin-bottom">
                        <label>Point A</label>
                        <input
                        class="w3-input w3-border"
                        type="number"4
                        step="any"
                        name="a"
                        id="a"
                        required
                        />
                    </div>
                    <div class="w3-half">
                        <label>Point B</label>
                        <input
                        class="w3-input w3-border"
                        type="number"
                        step="any"
                        name="b"
                        id="xu"
                        required
                        />
                    </div>
                </div>
                <button class="w3-button w3-indigo w3-round-large" type="submit">
                    <i class="fa fa-search w3-margin-right"></i> View results
                </button>
            </form>
            <button class="w3-button w3-indigo w3-round-large" onclick="openModal()">
                <i class="fa fa-info-circle w3-margin-right"></i> How write the function?
            </button>
            <a class="w3-button w3-indigo w3-round-large" href="{{ url_for('inicio_funciones') }}">Come back to methods </a>
        </div>
    </div>
    <div class="w3-col s8 w3-center w3-padding">
        {% if result is not none %}
    <table class="w3-table-all w3-centered w3-round-large">
        <thead>
            <tr class="w3-indigo">
                <th>Iteration</th>
                <th>Xi-dx</th>
                <th>Xi</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in result.iterrows() %}
            <tr>
                <td>{{ row['Raiz'] }}</td>
                <td>{{ row['Xi-dx'] }}</td>
                <td>{{ row['Xi'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="w3-container">
        {{ plt.show() | safe }}
    </div>
    {% endif %}
</div>
</div>
{% endblock %}
